core*

# script executables
stdcsv
check_constants
check_libcsv
check_logic
check_read


fql
.gdb_history
.clangd/
.cache/


# temp files
*.temp
out*

# vim swap file
*.swp

# doc files
Doxyfile
*.stamp
man/
html/

# Check files
check_libfql
*.trs
*.log


# compiledb ignore
compile_commands.json

# Autotools ignores
.deps/
.libs/
autom4te.cache
autom4te.cache/

# Configure ignores
config.h
config.status
libtool
stamp-h1

# Generated Makefile
# (meta build system like autotools,
# can automatically generate from config.status script
# (which is called by configure script))
Makefile

# C ignores
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lai
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
